node_modules
dist
.DS_Store
.env
.env.*.local
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
.vscode
.idea
public/proofs
public/definitions
data/proofs/*.mp4
data/proofs/*.mkv
data/proofs/*.mov
data/proofs/*.webm
data/proofs/.manim-tmp
